<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "assignments">

   <test name = "assignment1">
      <classes>
         <class name = "com.walletHub.assignments.FacebookStatusPost" />
      </classes>
   </test>
   <test name = "assignment2">
      <classes>
         <class name = "com.walletHub.assignments.WalletHubPolicyReview" />
      </classes>
   </test>
  
</suite>  	